%li
  %p.left
    = link_to user.name, user
    = image_tag(user.avatar, class: "avatar")
  .right
    - if current_user != nil && (current_user == user || current_user.admin?)
      = link_to "Delete", user, method: :delete, data: { confirm: "You sure?" }
      = link_to "Edit", edit_user_path(user)